<div class=" vh-100 bg-image"
style="background-image: url('https://images.pexels.com/photos/1199960/pexels-photo-1199960.jpeg?auto=compress&cs=tinysrgb&w=1600');background-attachment:fixed; background-size: cover;">
<div class="container">
    <br>
    <div class="container" style="background-color:whitesmoke; border-radius: 10px 15px 15px 10px;">
      <h3 class="text-justify text-center mb-2">Food Orders</h3>
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Billing Amount</th>
            <th scope="col">Quantity</th>
            <th scope="col">Status</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Customer Email</th>
            <th scope="col">Items</th>
            <th scope="col">Change Status</th>
            <th scope="col">View Invoice</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of items; index as i">
            <td>{{p.id}}</td>
            <td>{{p.billingAmount}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.status}}</td>
            <td>{{p.customerName}}</td>
            <td>{{p.customerEmail}}</td>
            <div class="container" style="background-color:rgba(250, 210, 214, 0.245); border-radius: 10px 15px 15px 10px;">
            <table>
              <tr *ngFor="let item of p.items">
                <td>{{item.name}}</td>
              </tr>
            </table> 
            </div>
            <td ><button class ="btn btn-primary" type="button" (click)="foodOrderStatus(p.id)" *ngIf="!p.status">Change Status</button></td>
            <td ><button class ="btn btn-primary" type="button" [routerLink]="['/invoice',p.id]">View Invoice</button></td>
          </tr>
        </tbody>
      </table>
      
    </div>
</div>
</div>