<section class="vh-100 bg-image"
  style="background-image: url('https://images.pexels.com/photos/1199960/pexels-photo-1199960.jpeg?auto=compress&cs=tinysrgb&w=1600');background-attachment:scroll; height: 100%;">
<div class="container">
  <br>
  <div class="container" style="background-color:whitesmoke; border-radius: 10px 15px 15px 10px;">
    <br>
    <h4 class="text-justify text-center mb-2">New User</h4>
  <form #addData="ngForm" (ngSubmit)="addUser(addData)">
    <div class="form-outline mb-4">
      <input 
      type="text" 
      class="form-control form-control-lg"
      ngModel
      id="name" 
      name="name"
      #name="ngModel"
      placeholder="Name"
      required>
    </div>
    <div class="form-outline mb-4">
        <input 
        type="text" 
        class="form-control form-control-lg"
         ngModel
        id="email" 
        name="email"
        #email="ngModel"
        placeholder="Email"
        required>
      </div>
    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Add User</button>
  </form>
  <br>
  </div>
</div>
<br>
<div class="container" style="background-color:whitesmoke; border-radius:2%;border-radius: 10px 15px 15px 10px;">
  <br>
    <h3 class="text-justify text-center mb-2">User Details</h3>
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th scope="col">Customer name</th>
            <th scope="col">Customer Email</th>
            <th scope="col">Update</th>
            <th scope="col">FoodOrder ID's</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of result;">
            <td >{{r.id}}</td>
            <td >{{r.name}}</td>
            <td >{{r.email}}</td>
            <td ><button class ="btn btn-primary" type="button" [routerLink]="['/edit-user',r.id]">Update</button></td>
            <div class="container" style="background-color:rgba(250, 210, 214, 0.245); border-radius: 10px 15px 15px 10px;">
              <table>
                <tr *ngFor="let food of r.foodOrders;">
                  <td>{{food.id}}</td>
                </tr>
              </table> 
              </div>   
          </tr>
        </tbody>
      </table>
      <br>
</div>
</section>